body {
  font-family: "Roboto", sans-serif;
  color: var(--main-white-color);
  background-color: var(--main-white-color);
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --main-white-color: #ffffff;
  --hero-color: #2f303a;
  --section-comand: #f5f4fa;
  --border-color: #eeeeee;
  --posluga-button: #188ce8;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --address-color: rgba(255, 255, 255, 0.6);
}
.position-navigation {
  list-style-type: none;
  display: block;
}
.web-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  text-decoration: none;
}

.main-studio {
  color: var(--title-text-color);
}

.studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  list-style-type: none;
}

.studio:focus {
  color: var(--acent-color);
}

.studio:hover {
  color: var(--acent-color);
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  list-style-type: none;
}

.portfolio:focus {
  color: var(--acent-color);
}
.portfolio:hover {
  color: var(--acent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  list-style-type: none;
}

.contacts:focus {
  color: var(--acent-color);
}

.contacts:hover {
  color: var(--acent-color);
}

.mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style-type: none;
}

.mailto:focus {
  color: var(--acent-color);
}

.mailto:hover {
  color: var(--acent-color);
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style-type: none;
}

.tel:focus {
  color: var(--acent-color);
}

.tel:hover {
  color: var(--acent-color);
}

.title-content {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  padding-top: 200px;
  text-align: center;
}
.wrap {
  word-wrap: break-word;
}

.button-posluga {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--acent-color);
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  width: 216px;
  height: 50px;
  margin-top: 40px;
  margin-left: 692px;
}
.button-posluga:hover {
  background-color: var(--posluga-button);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.background {
  background-color: var(--hero-color);
  width: 1600px;
  height: 600px;
}
.background-footer {
  background-color: var(--hero-color);
  width: 1600px;
  height: 252px;
}

.background-team {
  width: 1600px;
  height: 648px;
  background-color: var(--section-comand);
  margin-top: 94px;
}

.caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.article {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.article-name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.headline-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 132px;
  margin-left: 617px;
}
.headline-team {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  width: 264px;
  height: 42px;
  margin-left: 668px;
  white-space: nowrap;
  padding-top: 94px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.command-block {
  background-color: var(--main-white-color);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  text-decoration: none;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
  text-decoration: none;
}

.address-link:focus {
  color: var(--acent-color);
}

.address-link:hover {
  color: var(--acent-color);
}

.location:focus {
  color: var(--acent-color);
}

.location:hover {
  color: var(--acent-color);
}

.footer-studio {
  color: var(--main-white-color);
}

.button-list {
  text-align: center;
  list-style-type: none;
}

.buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--section-comand);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.buttons:hover {
  background-color: var(--acent-color);
  color: var(--main-white-color);
}

.buttons:focus {
  background-color: var(--acent-color);
  color: var(--main-white-color);
}

.list-panel {
  list-style-type: none;
  display: flex;
}

.panel {
  text-decoration: none;
}

.title-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-left: 24px;
  padding-top: 20px;
}

.card-name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}

.box-card-1 {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
}

.box-card-2 {
  background-color: var(--main-white-color);
    border: 1px solid var(--border-color);
    margin-left: 30px;
}

.box-card-3 {
  background-color: var(--main-white-color);
    border: 1px solid var(--border-color);
    margin-left: 30px;
}

.box-card-4 {
  background-color: var(--main-white-color);
    border: 1px solid var(--border-color);
}

.box-card-5 {
  background-color: var(--main-white-color);
    border: 1px solid var(--border-color);
    margin-left: 30px;
}

.box-card-6 {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
  margin-left: 30px;
}

.box-card-7 {
  background-color: var(--main-white-color);
    border: 1px solid var(--border-color);
}

.box-card-8 {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
  margin-left: 30px;
}

.box-card-9 {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
  margin-left: 30px;
}
.current {
  color: var(--acent-color);
}
/*FLEXBOX*/
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
/*Контейнер*/
.container {
  width: 1600px;
  align-items: center;
  background-color: var(--main-white-color);
  border-bottom: 1px solid var(--border-color);
}
/* Навігація хедера */
.position-navigation {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
/* Навігація хедера */
.site-nav {
  display: flex;
}
/* Значок */
.web-nav {
  display: flex;
  margin-left: 215px;
  align-items: center;
}
/* Студія */
.studio-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
/* Портфоліо */
.portfolio-nav {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
/* Контакти */
.contacts-nav {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
/* Пошта */
.mailto-nav {
  display: flex;
  align-items: center;
  margin-left: 344px;
}
/* Телефон */
.tel-nav {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
/* Наші особливості */
.features-list {
  display: flex;
  margin-left: 215px;
  margin-top: 93px;
}
/* Заголовки */
.caption1-position {
  width: 270px;
  height: 16px;
}
.caption2-position {
  width: 270px;
  height: 16px;
}
.caption3-position {
  width: 270px;
  height: 16px;
}
.caption4-position {
  width: 270px;
  height: 16px;
}
.li1-position {
  display: block;
}
.li2-position {
  display: block;
  margin-left: 30px;
}
.li3-position {
  display: block;
  margin-left: 30px;
}
.li4-position {
  display: block;
  margin-left: 30px;
}
/* Параграфи */
.article1-position {
  width: 270px;
  height: 72px;
  padding-top: 10px;
}
.article2-position {
  width: 270px;
  height: 48px;
  padding-top: 10px;
}
.article3-position {
  width: 270px;
  height: 48px;
  padding-top: 10px;
}
.article4-position {
  width: 270px;
  height: 72px;
  padding-top: 10px;
}
/* Скіли */
.work-list{
  display: flex;
  margin-left: 215px;
  margin-top: 50px;
}
.position-mobile{
  margin-left: 30px;
}
.position-styles{
  margin-left: 30px;
}
/* Наша команда */
.position-team{
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 92px;
}
.position-woman{
  margin-left: 30px;
  width: 270px;
  height: 368px;
}
.position-man1{
  width: 270px;
  height: 368px;
}
.position-man2{
  margin-left: 30px;
  width: 270px;
  height: 368px;
}
.position-man3{
  margin-left: 30px;
  width: 270px;
  height: 368px;
}
.position-name1{
  padding-top: 30px;
}
.position-name2{
  padding-top: 30px;
}
.position-name3{
padding-top: 30px;
}
.position-name4{
padding-top: 30px;
}
.position-article1{
  padding-top: 10px;
}
.position-article2{
padding-top: 10px;
}
.position-article3{
padding-top: 10px;
}
.position-article4{
padding-top: 10px;
}
/* Футер */
.position-list{
  margin-left: 215px;
  padding-top: 60px;
  margin-bottom: 20px;
}
.position-list2{
  margin-left: 215px;
}

.position-footer2{
 margin-top: 20px;
}
.position-footer3{
  padding-top: 9px;
}
.position-footer4{
  padding-top: 9px;
}
/* Сторінка портфоліо */
.button-list{
  display: flex;
  margin-left: 537px;
  margin-top: 100px;
}
.position-button1{
  width: 73px;
    height: 38px;
}
.position-button2{
  margin-left: 8px;
  width: 125px;
    height: 38px;
}
.position-button3{
margin-left: 8px;
width: 112px;
height: 38px;
}
.position-button4{
margin-left: 8px;
width: 103px;
  height: 38px;
}
.position-button5{
margin-left: 8px;
width: 130px;
  height: 38px;
}
.position-panel1{
  display: flex;
  margin-left: 215px;
  margin-top: 50px;
}
.position-panel2{
display: flex;
margin-left: 215px;
margin-top: 30px;
}
.position-panel3{
display: flex;
margin-left: 215px;
margin-top: 30px;
margin-bottom: 94px;
}








































